canvas {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#text {
  font-size: 2em;
  text-align: center;
}

footer {
  font-size: 1.2em;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}